{% block content %}
<form method="post">
 {% csrf_token %} 
 <label>Task Title:</label>
 <input type="text" name="title" placeholder="enter a title"/>
 <br/> 
 <label>Search in:</label></br>
 <input type="radio" id="table1" name="options"><label>Assigned Tasks</label></br>
 <input type="radio" id="table2" name="options"><label>Not Assigned Tasks</label>
 <br/>
 
 <button type="submit" >Search</button> <button type="reset" >reset</button>
</form>
<a href="\">Go Back</a><br/><br/>
{% endblock content %}
