{% extends "layouts/base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
        margin: 0;
        padding: 0;}

    p {
        font-size: 1.5em;
        margin-top: 20px;
        color: #007bff;
        text-align: center;}

    ol {
        list-style-type: none;
        padding: 0;
        width: 80%;
        margin: 20px auto;
        text-align: left;}

    ol li {
        background-color: #fff;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-weight: bold;}

    ol ul {
        list-style-type: none;
        padding-left: 20px;
        margin: 5px 0;}

    ol ul li {
        font-weight: normal;
        color: #555;
        margin: 5px 0;}

    a {
        color: #007bff;
        text-decoration: none;
        display: inline-block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        text-align: center;}

    a:hover {
        background-color: #0056b3;}
</style>
<p>Team Members:</p>
<ol>
    <li>Salman Abdullah</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1995/9/12</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Khalid Ibrahim</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1992/3/1</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Saleh Sulaiman</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1992/5/7</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Mohammed Ali</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1997/12/5</ul>
    <ul>Born in Sudan</ul>
    <br/>

    <li>Sarah Abdulrahman</li>
    <ul>Gender: Female</ul>
    <ul>Birthday: 1998/7/17</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Fatimah Fares</li>
    <ul>Gender: Female</ul>
    <ul>Birthday: 1999/8/26</ul>
    <ul>Born in Kuwait</ul>
    <br/>

</ol>
<center><a href="\">Go Back</a><br/><br/>
{% endblock content %}