{% extends "layouts/base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<p>Team Members:</p>
<ol>
    <li>Salman Abdullah</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1995/9/12</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Khalid Ibrahim</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1992/3/1</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Saleh Sulaiman</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1992/5/7</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Mohammed Ali</li>
    <ul>Gender: Male</ul>
    <ul>Birthday: 1997/12/5</ul>
    <ul>Born in Sudan</ul>
    <br/>

    <li>Sarah Abdulrahman</li>
    <ul>Gender: Female</ul>
    <ul>Birthday: 1998/7/17</ul>
    <ul>Born in Saudi Arabia</ul>
    <br/>

    <li>Fatimah Fares</li>
    <ul>Gender: Female</ul>
    <ul>Birthday: 1999/8/26</ul>
    <ul>Born in Kuwait</ul>
    <br/>

</ol>
<a href="\">Go Back</a><br/><br/>
{% endblock content %}